/* src/pages/not-found/NotFoundPage.module.css */

.wrapper {
  min-height: 70vh;
  display: grid;
  place-items: center;
  background: #fde4d1;
}

.box {
  background: #5a3f31;
  border-radius: 24px;
  padding: 32px 40px 36px;
  text-align: center;

  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.title {
  font-size: 72px;
  line-height: 1;
  margin-bottom: 14px;
  color: #fde4d1;
  font-family: 'Princess Diana', serif;
}

.text {
  margin-bottom: 20px;
  color: #fde4d1;
  font-family: 'Princess Diana', serif;
  font-size: 40px;
}

.link {
  display: inline-block;
  background: #906850;
  color: #fde4d1;
  padding: 10px 18px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Kyiv*Type Sans', system-ui, sans-serif;
  transition: transform 0.1s ease-in-out;
}

.link:active {
  transform: translateY(1px);
}
